
<br><mat-grid-list cols="4" rowHeight="2:3">
    <mat-grid-tile>
      <mat-card  >
      <mat-card-header>
        <mat-card-title>Private Limited Company</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form >
          <u>Required Documents:</u><br>
          <div >
              <ul style="list-style-type:circle;font-size: 14px">
                  <li>PAN Card</li><br>
                  <li>Aadhaar card</li><br>
                  <li>Recent month Bank Statement</li><br>
                  <li>Photo</li><br>
                  <li>Passport</li><br>
                  <li>Rental agreement</li><br>
                  <li>NOC</li><br>
                  <li>EB Receipt</li><br>
                  <li>Property Tax receipt</li><br>
              </ul>
          </div>
         
          <div class="vertical-center">
            <button mat-raised-button  >Get Start</button>
         </div>
      </form>
      </mat-card-content>
    
    </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>
      <mat-card-header>
        <mat-card-title>Public Limited Company</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form >
          <u>Required Documents:</u><br>
          <div >
              <ul style="list-style-type:circle;font-size: 14px">
                <li>PAN Card</li><br>
                <li>Aadhaar card</li><br>
                <li>Recent month Bank Statement</li><br>
                <li>Photo</li><br>
                <li>Passport</li><br>
                <li>Rental agreement</li><br>
                <li>NOC</li><br>
                <li>EB Receipt</li><br>
                <li>Property Tax receipt</li><br>
                 
              </ul>
          </div>
         
          <div class="vertical-center">
            <button mat-raised-button  >Get Start</button>
         </div>
      </form>
      </mat-card-content>
    
    </mat-card></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>One Person Company</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br>
          <form >
            <u>Required Documents:</u><br>
            <div >
                <ul style="list-style-type:circle;font-size: 14px">
                    <li>PAN Card</li><br>
                <li>Aadhaar card</li><br>
                <li>Recent month Bank Statement</li><br>
                <li>Photo</li><br>
                <li>Passport</li><br>
                <li>Rental agreement</li><br>
                <li>NOC</li><br>
                <li>EB Receipt</li><br>
                <li>Property Tax receipt</li><br>
                   
                </ul>
            </div>
           
            <div class="vertical-center">
              <button mat-raised-button  >Get Start</button>
           </div>
        </form>
        </mat-card-content>
      
      </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Proprietoship</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br>
          <form >
            <u>Required Documents:</u><br>
            <div >
                <ul style="list-style-type:circle;font-size: 14px">
                    <li>PAN Card</li><br>
                <li>Aadhaar card</li><br>
                <li>Recent month Bank Statement</li><br>
                <li>Photo</li><br>
                <li>Passport</li><br>
                <li>Rental agreement</li><br>
                <li>NOC</li><br>
                <li>EB Receipt</li><br>
                <li>Property Tax receipt</li><br>
                  
                </ul>
            </div>
           
            <div class="vertical-center">
              <button mat-raised-button  >Get Start</button>
           </div>
        </form>
        </mat-card-content>
      
      </mat-card>
    </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Limited Liability Partnership</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form >
          <u>Required Documents:</u><br>
          <div >
              <ul style="list-style-type:circle;font-size: 14px">
                <li>PAN Card</li><br>
                <li>Aadhaar card</li><br>
                <li>Recent month Bank Statement</li><br>
                <li>Photo</li><br>
                <li>Passport</li><br>
                <li>Rental agreement</li><br>
                <li>NOC</li><br>
                <li>EB Receipt</li><br>
                <li>Property Tax receipt</li><br>
                  
              </ul>
          </div>
         
          <div class="vertical-center">
            <button mat-raised-button  >Get Start</button>
         </div>
      </form>
      </mat-card-content>
    
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Partnership Firm</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form >
          <u>Required Documents:</u><br>
          <div >
              <ul style="list-style-type:circle;font-size: 14px">
                <li>PAN Card</li><br>
                <li>Aadhaar card</li><br>
                <li>Recent month Bank Statement</li><br>
                <li>Photo</li><br>
                <li>Passport</li><br>
                <li>Rental agreement</li><br>
                <li>NOC</li><br>
                <li>EB Receipt</li><br>
                <li>Property Tax receipt</li><br>
                  
              </ul>
          </div>
         
          <div class="vertical-center">
            <button mat-raised-button  >Get Start</button>
         </div>
      </form>
      </mat-card-content>
    
    </mat-card>
  </mat-grid-tile>

 </mat-grid-list>

