
<br><mat-grid-list cols="4" rowHeight="2:2.5">
    <mat-grid-tile>
      <mat-card  >
      <mat-card-header>
        <mat-card-title>GST Registration</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form >
          <u>Required Documents:</u><br>
          <div >
              <ul style="list-style-type:circle;font-size: 14px">
                  <li>PAN Card</li><br>
                  <li>EB Bill/ Telephone Bill/ Rental Agreement /NOC</li><br>
                  <li>MOA/ AOA / Partnership Deed / ROC</li><br>
                  <li>Bank statement/ Cancelled Cheque</li><br>
                  <li>Aadhaar Card</li>
              </ul>
          </div>
         
          <div class="vertical-center">
            <button mat-raised-button  >Get Start</button>
         </div>
      </form>
      </mat-card-content>
    
    </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>
      <mat-card-header>
        <mat-card-title>GST Monthly Filing Return</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form >
          <u>Required Documents:</u><br>
          <div >
              <ul style="list-style-type:circle;font-size: 14px">
                  <li>Purchase invoices details</li><br>
                  <li>Sales invoices details</li><br>
                  <li>Import / export invoices details</li><br>
                  
                  <li>Debit / credit note details</li><br>
                  <li>Any other invoices</li><br>
                 
              </ul>
          </div>
         
          <div class="vertical-center">
            <button mat-raised-button  >Get Start</button>
         </div>
      </form>
      </mat-card-content>
    
    </mat-card></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Bookkeepings and Maintenance</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br>
          <form >
            <u>Required Documents:</u><br>
            <div >
                <ul style="list-style-type:circle;font-size: 14px">
                    <li>Purchaser Invoices</li><br>
                    <li>Sales Invoices</li><br>
                    <li>Bank statement</li><br>
                    <li>Expenses vouchers</li><br>
                    <li>Other documents</li><br>
                   
                </ul>
            </div>
           
            <div class="vertical-center">
              <button mat-raised-button  >Get Start</button>
           </div>
        </form>
        </mat-card-content>
      
      </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>E-Way Bill Generation</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br>
          <form >
            <u>Required Documents:</u><br>
            <div >
                <ul style="list-style-type:circle;font-size: 14px">
                    <li>Invoice/ Bill of Supply</li><br>
                    <li>Transporter ID / Vehicle number</li><br>
                  
                </ul>
            </div>
           
            <div class="vertical-center">
              <button mat-raised-button  >Get Start</button>
           </div>
        </form>
        </mat-card-content>
      
      </mat-card>
    </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>GST Amendment</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form >
          <u>Required Documents:</u><br>
          <div >
              <ul style="list-style-type:circle;font-size: 14px">
                  <li>Nature of Amendment</li><br>
                  <li>Supporting documents for amendment</li><br>
                  
              </ul>
          </div>
         
          <div class="vertical-center">
            <button mat-raised-button  >Get Start</button>
         </div>
      </form>
      </mat-card-content>
    
    </mat-card>
  </mat-grid-tile>
 

 </mat-grid-list>
