
<br><mat-grid-list cols="4" rowHeight="2:2.7">
    <mat-grid-tile>
      <mat-card  >
      <mat-card-header>
        <mat-card-title>Appointment of Director</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form >
          <u>Required Documents:</u><br>
          <div >
              <ul style="list-style-type:circle;font-size: 14px">
                  <li>PAN Card</li><br>
                  <li>Residence Proof</li><br>
                  <li>DIN declarations</li><br>
                  <li>Consent letter</li><br>
                  <li>Board Resolution</li>
              </ul>
          </div>
         
          <div class="vertical-center">
            <button mat-raised-button  >Get Start</button>
         </div>
      </form>
      </mat-card-content>
    
    </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>
      <mat-card-header>
        <mat-card-title>Registration of Director</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form >
          <u>Required Documents:</u><br>
          <div >
              <ul style="list-style-type:circle;font-size: 14px">
                  <li>Resignation Letter</li><br>
                  <li>Board Resolution</li><br>
                  <li>Resignation Acceptance Letter</li><br>
                 
              </ul>
          </div>
         
          <div class="vertical-center">
            <button mat-raised-button  >Get Start</button>
         </div>
      </form>
      </mat-card-content>
    
    </mat-card></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Change Register Office</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br>
          <form >
            <u>Required Documents:</u><br>
            <div >
                <ul style="list-style-type:circle;font-size: 14px">
                    <li>New Address Proof
                    </li><br>
                    <li>Board Resolution</li><br>
                    <li>NOC</li><br>
                    <li>Declaration</li><br>
                    
                   
                </ul>
            </div>
           
            <div class="vertical-center">
              <button mat-raised-button  >Get Start</button>
           </div>
        </form>
        </mat-card-content>
      
      </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Change Company Name</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br>
          <form >
            <u>Required Documents:</u><br>
            <div >
                <ul style="list-style-type:circle;font-size: 14px">
                    <li>Modified MOA/AOA</li><br>
                    <li>Board Resolution</li><br>
                    <li>NOC</li><br>
                    <li>Consent letter</li><br>
                  
                </ul>
            </div>
           
            <div class="vertical-center">
              <button mat-raised-button  >Get Start</button>
           </div>
        </form>
        </mat-card-content>
      
      </mat-card>
    </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Closure of LLP</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form >
          <u>Required Documents:</u><br>
          <div >
              <ul style="list-style-type:circle;font-size: 14px">
                  <li>Application for Striking off of the LLP</li><br>
                  <li>Partners Meeting Resolution for closure</li><br>
                  <li>Consent Letter</li><br>
                  <li>Partners Affidavit</li><br>
                  <li>Indemnity Bond</li><br>
                  <li>Statement of Assets and Liabilities</li><br>
                  
              </ul>
          </div>
         
          <div class="vertical-center">
            <button mat-raised-button  >Get Start</button>
         </div>
      </form>
      </mat-card-content>
    
    </mat-card>
  </mat-grid-tile>
 
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Closure of One-Person Company</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form >
          <u>Required Documents:</u><br>
          <div >
              <ul style="list-style-type:circle;font-size: 14px">
                  <li>Application for Striking off of the OPC</li><br>
                  <li>Board Resolution for closure</li><br>
                  <li>Consent Letter</li><br>
                  <li>Director's Affidavit </li><br>
                  <li>Indemnity Bond</li><br>
                  <li>Statement of Assets and Liabilities</li><br>
                  
              </ul>
          </div>
         
          <div class="vertical-center">
            <button mat-raised-button  >Get Start</button>
         </div>
      </form>
      </mat-card-content>
    
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>ROC Compliance</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form >
          <u>Required Documents:</u><br>
          <div >
              <ul style="list-style-type:circle;font-size: 14px">
                  <li>MOA</li><br>
                  <li>AOA</li><br>
                  <li>Board resolution</li><br>
                
                  
              </ul>
              <p style="color:red">*Based on the Service required

            </p><br>
          </div>
         
          <div class="vertical-center">
            <button mat-raised-button  >Get Start</button>
         </div>
      </form>
      </mat-card-content>
    
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Change in Captial</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form >
          <u>Required Documents:</u><br>
          <div >
              <ul style="list-style-type:circle;font-size: 14px">
                <li>MOA</li><br>
                <li>AOA</li><br>
                <li>Board resolution</li><br>
                  
              </ul>
          </div>
         
          <div class="vertical-center">
            <button mat-raised-button  >Get Start</button>
         </div>
      </form>
      </mat-card-content>
    
    </mat-card>
  </mat-grid-tile>
 </mat-grid-list>

