
<!--Tabs -->

<mat-tab-group animationDuration="0ms">
 
    <mat-tab label="Incometax">
      <app-incometax></app-incometax>
  </mat-tab>
    <mat-tab label="GST">
         <app-gst></app-gst>
  </mat-tab>
    <mat-tab label="Incorpration">
      <app-incorpration></app-incorpration>
    </mat-tab>
    <mat-tab label="Compliance">
      <app-compliance></app-compliance>
    </mat-tab>
    <mat-tab label="Licence">
      <app-licence></app-licence>
    </mat-tab>
  </mat-tab-group>
   
  
  <!--end of tab-->