
<br><mat-grid-list cols="4" rowHeight="2:2.5">
    <mat-grid-tile>
      <mat-card  >
      <mat-card-header>
        <mat-card-title>ITR-1 Form Filling</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form >
          <u>Required Documents:</u><br>
          <div >
              <ul style="list-style-type:circle;font-size: 14px">
                  <li>PAN Card</li><br>
                  <li>Aadhaar card</li><br>
                  <li>Bank statement</li><br>
                  <li>Form 16 (Single or Multiple)</li><br>
              </ul>
          </div>
         
          <div class="vertical-center">
            <button mat-raised-button  >Get Start</button>
         </div>
      </form>
      </mat-card-content>
    
    </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>
      <mat-card-header>
        <mat-card-title>ITR-2 Form Filling</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form >
          <u>Required Documents:</u><br>
          <div >
              <ul style="list-style-type:circle;font-size: 14px">
                  <li>PAN Card</li><br>
                  <li>Aadhaar card</li><br>
                  <li>Bank statement</li><br>
                  <li>Form 16 (Single or Multiple)</li><br>
                  <li>Capital gain documents</li><br>
                  <li>House rent details</li><br>
                  <li>GST Return</li><br>
              </ul>
          </div>
         
          <div class="vertical-center">
            <button mat-raised-button  >Get Start</button>
         </div>
      </form>
      </mat-card-content>
    
    </mat-card></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>ITR-3 Form Filling</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br>
          <form >
            <u>Required Documents:</u><br>
            <div >
                <ul style="list-style-type:circle;font-size: 14px">
                    <li>PAN Card</li><br>
                    <li>Aadhaar card</li><br>
                    <li>Bank statement</li><br>
                    <li>Form 16 (Single or Multiple)</li><br>
                    <li>Capital gain documents</li><br>
                    <li>House rent details</li><br>
                    <li>GST Return</li><br>
                </ul>
            </div>
           
            <div class="vertical-center">
              <button mat-raised-button  >Get Start</button>
           </div>
        </form>
        </mat-card-content>
      
      </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>ITR-4 Form Filling</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br>
          <form >
            <u>Required Documents:</u><br>
            <div >
                <ul style="list-style-type:circle;font-size: 14px">
                    <li>PAN Card</li><br>
                    <li>Aadhaar card</li><br>
                    <li>Bank statement</li><br>
                    <li>Capital gain documents</li><br>
                    <li>House rent details</li><br>
                    <li>GST Return</li><br>
                    <li>Tally data</li><br>
                </ul>
            </div>
           
            <div class="vertical-center">
              <button mat-raised-button  >Get Start</button>
           </div>
        </form>
        </mat-card-content>
      
      </mat-card>
    </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>ITR-5 Form Filling</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form >
          <u>Required Documents:</u><br>
          <div >
              <ul style="list-style-type:circle;font-size: 14px">
                  <li>PAN Card</li><br>
                  <li>Aadhaar card</li><br>
                  <li>Bank statement</li><br>
                  <li>Capital gain documents</li><br>
                  <li>House rent details</li><br>
                  <li>GST Return</li><br>
                  <li>Tally data</li><br>
              </ul>
          </div>
         
          <div class="vertical-center">
            <button mat-raised-button  >Get Start</button>
         </div>
      </form>
      </mat-card-content>
    
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>ITR-6 Form Filling</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form >
          <u>Required Documents:</u><br>
          <div >
              <ul style="list-style-type:circle;font-size: 14px">
                  <li>PAN Card</li><br>
                  <li>Aadhaar card</li><br>
                  <li>Bank statement</li><br>
                  <li>Capital gain documents</li><br>
                  <li>House rent details</li><br>
                  <li>GST Return</li><br>
                  <li>Tally data</li><br>
              </ul>
          </div>
         
          <div class="vertical-center">
            <button mat-raised-button  >Get Start</button>
         </div>
      </form>
      </mat-card-content>
    
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>ITR-7 Form Filling</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form >
          <u>Required Documents:</u><br>
          <div >
              <ul style="list-style-type:circle;font-size: 14px">
                  <li>PAN Card</li><br>
                  <li>Aadhaar card</li><br>
                  <li>Bank statement</li><br>
                  <li>Capital gain documents</li><br>
                  <li>House rent details</li><br>
                  <li>GST Return</li><br>
                  <li>Tally data</li><br>
              </ul>
          </div>
         
          <div class="vertical-center">
            <button mat-raised-button  >Get Start</button>
         </div>
      </form>
      </mat-card-content>
    
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    
<mat-card>
<mat-card-header>
  <mat-card-title>Income Tax Notices</mat-card-title>
</mat-card-header>
<mat-card-content>
  <br>
  <form >
    <u>Required Documents:</u><br>
    <div >
        <ul style="list-style-type:circle;font-size: 14px">
            <li>PAN Card</li><br>
            <li>Aadhaar card</li><br>
            <li>Bank statement</li><br>
            <li>Form 16(Single or Multiple)</li><br>
            
        </ul>
    </div>
   
    <div class="vertical-center">
      <button mat-raised-button  >Get Start</button>
   </div>
</form>
</mat-card-content>

</mat-card>
  </mat-grid-tile>

 </mat-grid-list>
