
<br><mat-grid-list cols="4" rowHeight="2:2.9">
    <mat-grid-tile>
      <mat-card>
      <mat-card-header>
        <mat-card-title>Trade Mark Registration</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form >
          <u>Required Documents:</u><br>
          <div >
              <ul style="list-style-type:circle;font-size: 14px">
                  <li>Voter ID</li><br>
                  <li>Aadhar card</li><br>
                  <li>Passport</li><br>
                  <li>Driving License
                </li><br>
                  <li>Registration certificate</li><br>
                  <li>Incorporation certificate</li><br>
                  <li>Partnership deed</li><br>
              </ul>
          </div>
         
          <div class="vertical-center">
            <button mat-raised-button  >Get Start</button>
         </div>
      </form>
      </mat-card-content>
    
    </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>
      <mat-card-header>
        <mat-card-title>Provident Fund (PF) Registration</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form >
          <u>Required Documents:</u><br>
          <div >
              <ul style="list-style-type:circle;font-size: 14px">
                  <li>Pan card</li><br>
                  <li>Driving license</li><br>
                  <li>Passport</li><br>
                  <li>Election Card</li><br>
                  <li>Aadhaar card</li><br>
                 
              </ul>
          </div>
         
          <div class="vertical-center">
            <button mat-raised-button  >Get Start</button>
         </div>
      </form>
      </mat-card-content>
    
    </mat-card></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Importer Exporter Code (IEC) with DSC</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br>
          <form >
            <u>Required Documents:</u><br>
            <div >
                <ul style="list-style-type:circle;font-size: 14px">
                    <li>Cancelled Cheque Copy
                    </li><br>
                    <li>Driving license</li><br>
                    <li>Passport</li><br>
                    <li>Rental agreement</li><br>
                    <li>Aadhaar card
                    </li><br>
                    <li>EB bill</li><br>
                    <li>Property Tax receipt
                </li><br>
                    <li>GST Registration Certificate</li><br>

                   
                </ul>
            </div>
           
            <div class="vertical-center">
              <button mat-raised-button  >Get Start</button>
           </div>
        </form>
        </mat-card-content>
      
      </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>FSSAI Registration</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br>
          <form >
            <u>Required Documents:</u><br>
            <div >
                <ul style="list-style-type:circle;font-size: 14px">
                    <li>Photo</li><br>
                    <li>Aadhaar card</li><br>
                    <li>Pan Card</li><br>
                    <li>Bank A/C First Page</li><br>
                    <li>NOC</li><br>
                    <li>Business Address Proof</li><br>
                  
                </ul>
            </div>
           
            <div class="vertical-center">
              <button mat-raised-button  >Get Start</button>
           </div>
        </form>
        </mat-card-content>
      
      </mat-card>
    </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>MSME Registration</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <form >
          <u>Required Documents:</u><br>
          <div >
              <ul style="list-style-type:circle;font-size: 14px">
                <li>Photo</li><br>
                  <li>Pan Card</li><br>
                  <li>Aadhaar card</li><br>
                  <li>Business proof - ROC / GST</li><br>
                  <li>Cancel cheque leaf</li><br>
                  
                  
              </ul>
          </div>
         
          <div class="vertical-center">
            <button mat-raised-button  >Get Start</button>
         </div>
      </form>
      </mat-card-content>
    
    </mat-card>
  </mat-grid-tile>
 
 </mat-grid-list>

